{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <h1 class="my-5">About JeKwEd</h1>
    </div>
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6">

            <h2>Me...</h2>  

            <p>
            JeKwEd, c'est mon pseudo d'artiste, enfin d'artiste en devenir.
            Je suis actuellement en apprentissage autodidacte de l'art 3D sur Blender.
            J'essaierai également dans le futur de m'initier :
            </p>

            <ul>                    
                <li> Au dessin</li>                    
                <li> A l'animation</li>                    
                <li> Éventuellement à la musique (piano ou saxophone)</li>                
            </ul>

            <p>
            Je posterai ici toutes mes oeuvres au fur et à mesure, ainsi que des WIP (Work In Progress) et des oeuvres qui m'inspirent.
            Vous pouvez me retrouver sur <a href="https://www.instagram.com/jekwed/?hl=fr">Instagram</a>, si vous voulez discuter.
            </p>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6">

            <h2>... And Friends</h2>

            <p>Oh ! Vous pouvez aussi me retrouver sur la Lea9ue.<br>
                La <a href="https://linktr.ee/Lea9ue">Lea9ue</a>, c'est un podcast que j'ai lancé avec un groupe de potes, qui traitent de plein de sujets de la pop culture, comme :
            <ul>
                <li> La musique</li>
                <li> Le cinéma</li>
                <li> Les jeux vidéos</li>
                <li> La tech</li>
                <li> Et bien d'autres choses encore...</li>
            </ul>
            Vous verrez quelques trucs exclusifs de moi là bas (pas tout de suite).
        </p>
        </div>


<h2 class="mt-3 mb-3">En attendant, Enjoy !</h2>


{% endblock %}